body{
    background-image: url("academics.jpg");
    background-color: rgba(58, 58, 158, 0.8);
    background-blend-mode: screen;
    font-size: larger;
}

h1{
    color: white;
    text-align: center;
    font-family: poppins  sans-serif;
    font-size: xx-large; 
}

.blurb{
    color: white;
    text-align: center;
    justify-content: center;
    margin: 0px 10% 0px 10%;
}

form{
    background-color: #1b1b32cc;
    margin: 5px 10% 0px 10%;
    padding: 10px 5% 10px 5%;
}

label{
    color: white;
    font-size: 18px;
    margin: 10px;
}

.input{
    margin: 10px 20px 10px 10px;
    height: 40px;
    width: 90%;
    display: block;
    border:none;
}

.input:focus{
    border: none;
}

.input:hover{
transform: scale(1.05);
border-color: #1b1b32cc;
}

.input::placeholder{
    padding: 5px;
}

select{
    margin: 10px 20px 10px 10px;
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
}

#recommendation{
    color: white;
    margin: 10px;
    padding: 10px;
}

div{
    padding: 10px;
}

input[type="checkbox"]{
    width:20px;
    height: 20px;
}
input[type="checkbox"]:checked{
    color: blueviolet;
}

fieldset{
    border: none;
}

input[type="submit"]{
    background-color: #37af65;
    border-radius: 0px;
    border: none;
}

input[type="submit"]:hover{
    background-color: #37af65;
    border-radius: 0px;
    border: none;
    cursor: pointer;
}

input[type="radio"]{
    width: 20px;
    height: 20px;
   
}


textarea{
    box-decoration-break: none;
    width: 90%;
    height: 100px;
    border-radius: 8px;
}